@import '../../assets/sass/colors';
@import '../../assets/sass/mixins';

.product-cards {
	&.col {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		row-gap: 50px;
		column-gap: 30px;
		@include mobile(){
			justify-content: center;
		}
	}

	.product-links a svg {
		font-size: 30px;
		color: black;
	} 
	
	.product-card {
		width: 300px;
		position: relative;
		box-shadow: 0 2px 7px #dfdfdf;
		background: #fafafa;
		@include mobile(){
			width: 170px;;
		}
	}

	.badge {
		position: absolute;
		left: 0;
		top: 0;
		text-transform: uppercase;
		font-size: 13px;
		font-weight: 700;
		background: $black;
		color: #fff;
		padding: 3px 10px;
		border-radius: 0px;

	}

	.product-tumb {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 300px;
		background: white;

		img {
			max-width: 100%;
			max-height: 100%;
		}
	}

	.product-details {
		padding: 30px;

		.product-title {
			font-size: 17px;
			font-weight: 500;
			margin-bottom: 10px;
			text-transform: uppercase;
			color: $black;
			text-decoration: none;
			transition: 0.3s;
			word-wrap: break-word;
			display: -webkit-box;
			-webkit-line-clamp: 1;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;

			&:hover {
				color: #fbb72c;
			}

		}

		p {
			font-size: 15px;
			line-height: 22px;
			margin-bottom: 18px;
			color: #999;
			word-wrap: break-word;
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}

	.product-catagory {
		display: block;
		font-size: 12px;
		font-weight: 700;
		text-transform: uppercase;
		color: $gunmetal-gray;
		margin-bottom: 18px;

		span.plp--star {
			float: right;
			display: flex;
			align-items: center;
			color: $gunmetal-gray;

			svg {
				margin-right: 10px;
			}
		}
	}

	.product-bottom-details {
		overflow: hidden;
		border-top: 1px solid #eee;
		padding-top: 20px;

		div {
			float: left;
			width: 50%;
			display: flex;
			justify-content: space-around;
		}
	}

	.product-price {
		font-size: 18px;
		color: $black;
		font-weight: 600;

		small {
			font-size: 80%;
			font-weight: 400;
			text-decoration: line-through;
			display: inline-block;
			margin-right: 5px;
		}
	}

	.product-links {
		text-align: right;

		a {
			display: inline-block;
			margin-left: 5px;
			color: #e1e1e1;
			transition: 0.3s;
			font-size: 17px;

			&:hover {
				color: #fbb72c;
			}
		}
	}
}