@import '../../assets/sass/colors';
.navbar {
    background-color: $black;
    .navbar-nav {
        .nav-link {
            color: $white;
        }
    }
    .navbar-brand {
        .main-logo {
            width: 80px;
        }
    }
    .hamburger {
        color: $white;
        font-size: 36px;
        cursor: pointer;
        @media (min-width:992px) {
            display: none;
        }
    }

}