@import '../../assets/sass/colors';
@import '../../assets/sass/mixins';

.footer {
    background-color: $black;
    padding-top: 50px;
    padding-bottom: 10px;
    .copyright {
        border-top: 1px solid $misty-blue;
        margin-top: 53px;
        padding-top: 20px;
        text-align: center;
        p {
           color:  $misty-blue;
        }
    }
    &--heading {
        font-size: 20px;
        font-weight: 600;
        color: $white;
        text-transform: uppercase;
    }
    &--links {
        color: $misty-blue;
         svg {
            margin-right: 15px;
        }
    }
    &--about {
        color: $misty-blue;
    }
    &--logo {
        width: 120px;
        margin: 20px 0;
    }
    &--social-links {
        background:  $misty-blue;
        margin: 10px;
        color: $black;
        font-size: 27px;
        @include mobile(){
            font-size: 20px;
        }
    }
}