@import './colors';

.button {
    padding: 10px 35px;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 0px;
    font-weight: 600;
    text-decoration: none;

    &.button-dark {
        background-color: $black;
        border: 1px solid $black;
        color: $white;
        position: relative;

        &::after {
            background: $white;
        }
    }

    &.button-light {
        background-color: $white;
        border: 1.5px solid $black;
        color: $black;
        position: relative;

        &::after {
            background: $black;
        }
    }

    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        bottom: 2px;
        transition: width 0.3s linear;
    }

    &:hover {
        &::after {
            width: 0%;
            transition: width 0.3s linear;
        }
    }

}